<div class="success_body">
  <div class="container">

  <h1>Post Detail Page</h1>


    <div class="card" style="width: 30rem;">
      {{#each post.Documents}}
        <img class="card-img-top" src="{{this.dataValues.url}}" alt="Listing Image">
      {{/each}}
      <div class="card-body">
        <h4 class="card-title">{{post.item_name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{post.poster_name}} (<a href="mailto:{{post.poster_email}}" target="_top">{{post.poster_email}}</a>)</h6>
        <p class="card-text">{{post.item_description}}</p>
        <div class="see_posts_rbutton">
        <a href="/posts"><button>See All Available Items</button></a>
        </div>
      </div>
    </div>


</div>
</div>
